.youre-not-registered {
    position:fixed;
    width:200px;
    height:120px;
    bottom:0px;
    right:0px;
    z-index:100;
    background-color:red;
    padding:10px;
    color:white;
}

#abelSay {
    display:none;
}
#fichaUsuarioRegistrado{

    width: 20%;
    height: 300px;
    border-radius: 25px;
    position: absolute;
    text-align:center;
    top: 25%;
    left: 40%;
    background-color: white;
    padding: 10px;
    display: none;
    background-color:#ff844dbf;
}