/*Vinculación a la fuente que vamos a usar en titulares */

@font-face {
	font-family: CaviarDreams;
	src: url('../fonts/CaviarDreamsl.eot');
	src: local('☺'), 
        url('../fonts/CaviarDreams.woff') format('woff'), url('../fonts/CaviarDreams.ttf') 
        format('truetype'), url('../fonts/CaviarDreamsl.svg') format('svg');

	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'home';
  src:  url('../fonts/home.eot?48gxbd');
  src:  url('../fonts/home.eot?48gxbd#iefix') format('embedded-opentype'),
    url('../fonts/home.ttf?48gxbd') format('truetype'),
    url('../fonts/home.woff?48gxbd') format('woff'),
    url('../fonts/home.svg?48gxbd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;

}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'home' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil2:before {
  content: "\e906";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-music:before {
  content: "\e911";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-book:before {
  content: "\e91f";
}
.icon-theatre:before {
  content: "\e921";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}


/* Hola Holita amiguitos */

body{
	margin: 0;
    font-family:CaviarDreams;
	
/*	background-color: #c2ecfc;*/
}

nav > .logo > a > img{
	width: 200px;
	float: left;
}

nav > .add > img{
    width: 50px;
    margin-left: 33%;
    float: left;
    margin-right: 2%;
}

nav > .search > a > img{
	width: 50px;
	float: right;
	margin-right: 2%;
}

.wrapper{
    width: 480px;
    margin: 0 auto;
    
}
/* Movidas de Blanca */

.theme{
    width: 100%;
    margin: 0 auto;
	float: left;
}

div.theme > h1{
    text-align: center;
}

div.theme > img{
    max-width: 100%;
    margin-left: 50%; /*preguntar al profe*/
}

.bloque{
    width: 100%;
	float: left;
	
}

.user{
    width: 25%;
    float: left;
}

.time {
    color: grey;
    float: left;
}
.topic{
    width: 60%;
    float: left;
}

.fecha{
    color: grey;
}

.info{
    width: 15%;
    float: left;
}

.flechas{
    height: 127px;
}

.stats{
    width: 33%;
    display: block;
    margin: 0 auto;
}

.text-stats{
    display: block;
    margin: 0 auto;
    /*font-size: 8px;  preguntar profe ¿tiene menos valor que el a?*/
}

div.flechas > a{
    text-decoration: none;
    text-align: center;
}

.debate-title{
	width: 100%;
	float: left;
	
}

.debate-title > img{
	float: left;
	max-width: 100%;
	margin-top: 8%;	
}

.debate-title > h1 {
	float: left;
	width: 80%;	
}

.debate-main{
	width: 100%;
	float:left;
	
}

.user-debate{
	width: 30%;
	float: left;
}

.debate-main > .user-debate > p{
	margin-left: 15px;
	margin-bottom: 0;
	margin-top: 0;
}

.comment{
	width: 70%;
	float: left;
}

.debate-main > .comment > .comment1 > p{
	margin-top: 10%;
}

.social-profile-icons{
	width: 100%;	
}

.social-profile-icons > ul > li{
	float:left;
	list-style-type: none;
}

.comment > .social-profile-icons > ul > li > a > img{
	width: 30px;
	float: left;	
}

.comment > .social-profile-icons > ul{
	float: right;
}

.answers{
	margin-left: 15%;
	border-left: 6px solid #333;
	float: left;
}

/*----------------------------*/

/*Fin del código de todos*/

/*Inicio del código de Mikel*/
}
.headerHome{
   width: 100%;
    float: left;
}/*
.headerHome > a > #logo{
    width: 50%;
    float: left;
    max-height: 75px;
    
}
.headerHome > a > #user{
    width: 25%;
    float: left;
	height: 48px;
}
.headerHome > #search{
    width: 25%;
    float: left;
    height: 48px;
}*/
.headerHome > input{
	display: none;
	}

main{
    width: 100%;
    float: left;
}/*
main > a > .cat{
    width: 50%;
    float: left;
}*/
main > div > div > a  > .cat > div{
    width: 30%;
    margin-left: 35%;
    margin-top: 20px;
    transition: 3s;
}
main > div > div > a  > .cat > h1{
   text-align: center;
    margin-left: 5%;
    color: black;  
}
main > div > div > a  > #lit{
    background-color: aquamarine;
    
}
main > div > div > a > #the{
    background-color: pink;
}
main > div > div > a > #pho{
    background-color: orange;
}
main > div > div > a > #pai{
    background-color: mediumpurple;
}
main > div > div > a > #mus{
    background-color: forestgreen;
}
main > div > div > a > #cin{
    background-color: cornflowerblue;
}

div#lit:hover > img{
    transform: rotateZ(360deg);
    transition: 3s;
}
div#the:hover > img{
    transform: rotateY(360deg);
    transition: 3s;
}
div#pho:hover > img{
    transform: rotateX(360deg);
    transition: 3s;
}
div#pai:hover > img{
    transform: scale(-1);
    transition: 3s;
}
div#mus:hover > img{
    transform: skew(180deg);
    transition: 3s;
}
div#cin:hover > img{
    transform: rotate(-360deg);
    transition: 3s;
}

/*Fin del código de Mikel*/

/*Código de Abel */

#headerProfile {
    width:100%;
    float:left;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:black;
    margin-bottom:15px;
}

#headerProfile > img {
    width:50%;
    margin-left:25%;
    margin-bottom:-120px;
    margin-top:-80px;
}

#headerProfile > h1 {
    text-align:center;
    margin-bottom:50px;

}
#profileContent {
    width:100%;
    margin:0 auto;
    float:left;
    border-style:solid;
    border-width:1px;
    border-color:black;
}

#profileTabSwitcher{
    width:100%;
    margin:0 auto;
    float:left;
    padding:0;
    border-bottom: 1px solid black;
    margin-bottom:25px;
}

#profileTabSwitcher li.notselected {
    opacity:0.6 ;
}

ul li {
    list-style-type:none;
    width:33.1%;
    float:left;
    border-right-style:solid;
    border-right-width:1px;
    border-right-color:white;
    background-color:grey;
    text-align:center;
    color:white;
    height:30px;
    line-height:30px;
}

ul > li > a {
    text-decoration:none;
    color:white;
}

#profileText {
    padding:15px;
}

#profileText p {
    margin-top:4px;
}

.columnLeft{
    width: 50%;
    float: left;
    text-align: center;
     
}
.columnRight {
    width: 50%;
    float: left;
    text-align: center;
}
.checkBox{
    margin-top: 3%;
}

#botonsito{
	margin-left: 45%;
	margin-top: 20px;
	margin-bottom: 20px;
}


/* TODO: Check this */

div.wrapper > img{
    width: 300px;
}
/* Qué demonios era esto */


/* RESPONSIVE DESIGN */
/* Apertura media querie móviles */
@media screen and (min-width: 280px) and (max-width: 479px){
.wrapper{
    width: 320px;
    margin: 0 auto;
    
}
    
    .headerHome{
   width: 100%;
    float: left;
}
.headerHome > a > #logo{
    width: 100%;
    float: left;
    max-height: 75px;
    
}
.headerHome > a > #user{
    width: 50%;
    float: left;
	height: 48px;
}
.headerHome > #search{
    width: 50%;
    float: left;
    height: 48px;
}
.headerHome > input{
	display: none;
	}

main{
    width: 100%;
    float: left;
}
main > a > .cat{
    width: 100%;
    float: left;
}
main > a > .cat > img{
    width: 30%;
    margin-left: 35%;
    margin-top: 20px;
    transition: 3s;
}
main > a > .cat > h1{
   text-align: center;
    margin-left: 5%;
    color: black;  
}
main > a > #lit{
    background-color: aquamarine;
    
}
main > a > #the{
    background-color: pink;
}
main > a > #pho{
    background-color: orange;
}
main > a > #pai{
    background-color: mediumpurple;
}
main > a > #mus{
    background-color: forestgreen;
}
main > a > #cin{
    background-color: cornflowerblue;
}

div#lit:hover > img{
    transform: rotateZ(360deg);
    transition: 3s;
}
div#the:hover > img{
    transform: rotateY(360deg);
    transition: 3s;
}
div#pho:hover > img{
    transform: rotateX(360deg);
    transition: 3s;
}
div#pai:hover > img{
    transform: scale(-1);
    transition: 3s;
}
div#mus:hover > img{
    transform: skew(180deg);
    transition: 3s;
}
div#cin:hover > img{
    transform: rotate(-360deg);
    transition: 3s;
}
} /* Cierre media querie móviles */

 /* Apertura media querie tablets */
@media screen and (max-width: 480px){
.wrapper{
	width: 400px;
    margin: 0 auto;
}
.bloque > div.topic > a > h2{
		font-size: 1em;
}
}
 /* Cierre media querie tablets */

@media screen and (min-width: 480px) and (max-width: 960px){
.wrapper{
	width: 550px;
  margin: 0 auto;
}
main > a > .cat{
  width: 50%;
  float: left;
}
.headerHome > a > #logo{
	max-width: 30%;
	float: left;
}
.headerHome > a > #user{
  width: 25%;
  float: left;
	height: 75px;
	}
	.headerHome > #search{
	display: none;
	}
	.headerHome > input{
    width: 10%;
    float: left;
    height: 25px;
	display: block;
	margin-top: 20px;
	}
	.headerHome > .cajitaEspesial{
		width: 25%;
	}
	
}
@media screen and (min-width: 961px) and (max-width: 2000px){
	.wrapper{
	width: 960px;
    margin: 0 auto;
   
	}
	
	main > a > .cat{
    width: 30%;
    float: left;
}
	
	
	.headerHome > a > #logo{
	max-width: 30%; 
    float: left;
	}
	.headerHome > a > #user{
    width: 25%;
    float: left;
	height: 75px;
	}
	.headerHome > #search{
	display: none;
	}
	.headerHome > input{
    width: 10%;
    float: left;
    height: 25px;
	display: block;
	margin-top: 20px;
}
.headerHome > .cajitaEspesial{
	width: 25%;
}
}
 /* Cierre media querie desktop */
